.trafficlight{
  background: #222;
  background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
  width: 170px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  border: solid 5px #333;
}

.trafficlight:before{
  background: #222;
  background-image: radial-gradient(#444, #000);
  content: "";
  width: 170px;
  height: 150px;
  margin: 0 auto;
  position: absolute;
  top: -20px;
  margin-left: 0px;
  border-radius: 50%;
  z-index: -1;
}

.protector{
  background: transparent;
  width: 180px;
  height: 0;
  position: absolute;
  top: 20px;
  left: -35px;
  border-right: solid 30px transparent;
  border-left: solid 30px transparent;
  border-top: solid 90px #111;
  border-radius: 10px;
  z-index: -1;
}

.protector:nth-child(2){
  top: 140px;
}

.protector:nth-child(3){
  top: 260px;
}

.bulb{
  background: black;
  background-image: radial-gradient(grey, transparent);
  background-size: 5px 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: dotted 2px black;
	margin: 20px auto;
  box-shadow:
    0 0 20px #111 inset,
    0 0 10px black;
}

.bulb.red{
  background: red;
  background-image: radial-gradient(brown, transparent);
  border: dotted 2px red;
  box-shadow:
    0 0 20px #111 inset,
    0 0 10px red;
}

.bulb.yellow{
  background: yellow;
  background-image: radial-gradient(orange, transparent);
  border: dotted 2px yellow;
  box-shadow:
    0 0 20px #111 inset,
    0 0 10px yellow;
}

.bulb.green{
  background: green;
  background-image: radial-gradient(lime, transparent);
  border: dotted 2px lime;
  box-shadow:
    0 0 20px #111 inset,
    0 0 10px lime;
}